.draggable-card {
    cursor: grab;
    cursor: -webkit-grab; 
    cursor: -moz-grab;
    margin: 7px;
    box-sizing: border-box;
}

.draggable-card {
    width: 100%;
}

.draggable-card .dragged {
    cursor: grabbing;
    cursor: -webkit-grabbing; 
    cursor: -moz-grabbing;
}
