body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main .ui.container {
  margin-top: 25px;
  padding: 0 15px;
}

footer {
  margin-top: 25px;
  padding: 0 15px;
}

.ui.inverted.segment.bg-segment {
  padding: 25px 0;
}

.ui.modal-header-button {
  margin-top: -5px;
}
