.ui.segment.tasks-list {
    background: #f9f9f9;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.ui.segment.tasks-list header {
    margin-bottom: 10px;
}

.ui.segment.tasks-list footer {
    margin-top: 10px;
}

.ui.label.ribbon.task-counter {
    margin-top: -30px;
    margin-bottom: 5px;
}